<div class="page page--gray page--main">
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__left">
          <a class="header__logo-link header__logo-link--active" routerLink="/">
            <img class="header__logo" src="img/logo.svg" alt="6 cities logo" width="81" height="41">
          </a>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item user">
              <a class="header__nav-link header__nav-link--profile" routerLink="/favorites">
                <div class="header__avatar-wrapper user__avatar-wrapper">
                </div>
                <span class="header__user-name user__name">Oliver.conner&#64;gmail.com</span>
                <span class="header__favorite-count">3</span>
              </a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" routerLink="/login">
                <span class="header__signout">Sign out</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="page__main page__main--index">
    <h1 class="visually-hidden">Cities</h1>
    <div class="tabs">
      <section class="locations container">
        <ul class="locations__list tabs__list">
          @for (city of citiesArray; track city.name) {
          <li class="locations__item">
            <a
            class="locations__item-link tabs__item"
            (click)="onTabClick(city.name)"
            href="#">
              <span>{{city.name}}</span>
            </a>
          </li>
          }
        </ul>
      </section>
    </div>
    <div class="cities">
      <div class="cities__places-container container">
        <section class="cities__places places">
          <h2 class="visually-hidden">Places</h2>
          <b class="places__found">312 places to stay in Amsterdam</b>
          <form class="places__sorting" action="#" method="get"
          (click)="sortingOpenToogle()"
          (keydown.esc)="sortingOpenToogle('close')">
            <span class="places__sorting-caption">Sort by</span>
            <span class="places__sorting-type" tabindex="0">
              {{activeSortOption()}}
              <svg class="places__sorting-arrow" width="7" height="4">
                <use xlink:href="#icon-arrow-select"></use>
              </svg>
            </span>
            <ul class="places__options places__options--custom"
              [class.places__options--opened]="isSortingOpen()">
              <li class="places__option" [class.places__option--active]="activeSortOption() === sortOption.Popular" tabindex="0" (click)="onSortClick(sortOption.Popular)">Popular</li>
              <li class="places__option" [class.places__option--active]="activeSortOption() === sortOption.PriceLowToHigh" tabindex="0" (click)="onSortClick(sortOption.PriceLowToHigh)">Price: low to high</li>
              <li class="places__option" [class.places__option--active]="activeSortOption() === sortOption.PriceHighToLow" tabindex="0" (click)="onSortClick(sortOption.PriceHighToLow)">Price: high to low</li>
              <li class="places__option" [class.places__option--active]="activeSortOption() === sortOption.TopRatedFirst" tabindex="0" (click)="onSortClick(sortOption.TopRatedFirst)">Top rated first</li>
            </ul>
          </form>
          <app-offers-list />
        </section>
        <div class="cities__right-section">
          <app-leaflet-map/>
        </div>
      </div>
    </div>
  </main>
</div>
