<div class="page {{offers.length === 0 ? 'page--favorites-empty' : '' }}">
  <header class="header">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__left">
          <a class="header__logo-link" routerLink="/">
            <img class="header__logo" src="img/logo.svg" alt="6 cities logo" width="81" height="41">
          </a>
        </div>
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item user">
              <a class="header__nav-link header__nav-link--profile" href="#">
                <div class="header__avatar-wrapper user__avatar-wrapper">
                </div>
                <span class="header__user-name user__name">Oliver.conner&#64;gmail.com</span>
                <span class="header__favorite-count">3</span>
              </a>
            </li>
            <li class="header__nav-item">
              <a class="header__nav-link" href="#">
                <span class="header__signout">Sign out</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="page__main page__main--favorites">
    <div class="page__favorites-container container">
      <section class="favorites">
        <h1 class="favorites__title">Saved listing</h1>
        <ul class="favorites__list">
          @for (city of uniqueCities(); track city) {
          <li class="favorites__locations-items">
            <div class="favorites__locations locations locations--current">
              <div class="locations__item">
                <a class="locations__item-link" href="#">
                  <span>{{city}}</span>
                </a>
              </div>
            </div>
            <div class="favorites__places">
              @for(offer of offers() ; track offer.id) {
                @if (offer.city.name === city) {
                  <article class="{{cardClass.Favorites}}__card place-card"app-card [offer]="offer" [cardClass]="cardClass.Favorites"></article>
                }
              }
            </div>
          </li>
          }
        </ul>
      </section>
    </div>
  </main>
  <footer class="footer container">
    <a class="footer__logo-link" href="main.html">
      <img class="footer__logo" src="img/logo.svg" alt="6 cities logo" width="64" height="33">
    </a>
  </footer>
</div>
